@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Lobster|Montserrat);
@font-face {
  font-family: 'FontAwesome';
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4 {
  font-family: Montserrat;
  font-weight: normal; }

thead tr, th {
  background-color: #106cc8 !important;
  color: #FFFFFF;
  font-weight: normal; }

select, input, textarea, button {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important; }

select {
  padding: 6px; }

#header {
  background-color: #106cc8; }

.container-fluid {
  box-shadow: 3px 3px 3px #CCCCCC;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border: none !important; }
  .container-fluid:hover {
    box-shadow: 6px 6px 6px #CCCCCC;
    position: relative;
    left: -2px; }
  .container-fluid .pane-header {
    border-radius: 0px !important;
    background-color: #106cc8;
    color: #FFFFFF;
    font-weight: normal; }
    .container-fluid .pane-header a {
      color: #FFFFFF; }
  .container-fluid .row {
    background-color: #F8F8F8; }

.task > a > img {
  display: none; }

#projectstatus {
  box-shadow: 6px 6px 6px #CCCCCC; }

#projectstatus tbody tr:last-child td:first-child, #projectstatus tr:last-child td:last-child, #projectstatus tbody tr:first-child th:first-child, #projectstatus tbody tr:first-child th:last-child {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important; }

.header th {
  background-color: #106cc8; }

table.sortable a.sortheader, table.sortable span.sortarrow {
  color: #FFFFFF;
  font-weight: normal; }

.tabBar .tab {
  border-color: #106cc8;
  margin-left: -1px; }
  .tabBar .tab:first-child {
    margin-left: 1px; }
  .tabBar .tab a {
    padding: 5px 7px;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    color: #106cc8;
    border-color: #106cc8; }
    .tabBar .tab a.addTab {
      color: #DFDFDF;
      border: none;
      margin-left: 1px;
      padding: 3px 7px;
      font-size: 17px; }
  .tabBar .tab:hover {
    background-color: #106cc8; }
    .tabBar .tab:hover a.addTab {
      background-color: #FFFFFF;
      color: #106cc8; }

.tabBar .tab.active {
  box-shadow: 6px 6px 6px #CCCCCC; }

.tabBar [type=radio]:checked ~ a {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  color: #FFFFFF;
  background-color: #106cc8;
  border-color: #106cc8;
  font-weight: normal; }

.job-status-blue {
  background-color: #A3FEBA !important; }
  .job-status-blue:hover {
    background-color: #72FE95 !important; }

.job-status-blue-anime, .job-status-red-anime {
  background-color: #CACAFF !important; }
  .job-status-blue-anime:hover, .job-status-red-anime:hover {
    background-color: #BBBBFF !important; }

.job-status-red {
  background-color: #FFBBDD !important; }
  .job-status-red:hover {
    background-color: #FFA4A4 !important; }

.pane-frame {
  border-radius: 0px !important; }

#description-link, #searchform > a, #main-panel > div.dashboard > div:nth-child(3), #jenkins-name-icon, #jenkins-head-icon {
  display: none; }

#search-box {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  box-shadow: none;
  background-image: none;
  height: 28px;
  padding-left: 10px; }

#header .login {
  margin-right: 0px;
  padding: 6px 0px; }
  #header .login a:last-child {
    margin-right: 10px; }

#jenkins-home-link {
  text-decoration: none; }
