@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

@font-face {
    font-family:'FontAwesome';src:url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?v=4.5.0');src:url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'),url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'),url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'),url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
    font-weight:normal;
    font-style:normal;
}
@mixin box-shadow() {
    box-shadow: 6px 6px 6px #CCCCCC;
}
@mixin no-border-radius(){
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

$header-color: rgb(16,108,200);

@mixin fa() {
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.container-fluid {
    box-shadow: 3px 3px 3px #CCCCCC;
    border-radius: 0px !important;
    border: none !important;
    
    &:hover {
        @include box-shadow();
        position: relative;
        left: -2px;
    }
    
    .pane-header {
        border-radius: 0px !important;
    }
}
#projectstatus {
    @include box-shadow();
}
#projectstatus tbody tr:last-child td:first-child, #projectstatus tr:last-child td:last-child, #projectstatus tbody tr:first-child th:first-child, #projectstatus tbody tr:first-child th:last-child {
    @include no-border-radius();
}

.header th {
    background-color: $header-color;
}

table.sortable a.sortheader, table.sortable span.sortarrow {
    color: #FFFFFF;
    font-weight: normal;
}

.tabBar .tab {
    border-color: $header-color;
    margin-left: -1px;

    &:first-child {
        margin-left: 1px;  
    }

    a {
        padding: 5px 7px;
        @include no-border-radius();
        color: $header-color;
        border-color: $header-color;
        &.addTab {
            color: #DFDFDF;
            border: none;
            margin-left: 1px;
            padding: 3px 7px;
            font-size: 17px;
        }
    }
    &:hover {
        background-color: $header-color;
        a.addTab {
            background-color: #FFFFFF;
            color: $header-color;
        }
    }
}
.tabBar .tab.active {
    @include box-shadow();
}
.tabBar [type=radio]:checked ~ a {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: #FFFFFF;
    background-color: $header-color;
    border-color: $header-color;
    font-weight: normal;
}

.job-status-blue {
    background-color: #A3FEBA !important;
}
.job-status-red {
    background-color: #FFBBDD !important;
}
.pane-frame {
    border-radius: 0px !important;
}

img.icon-clock{
    display:none;
    width:0px;
}

.fa.clock {
    font-size: 17px;
}
